<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='./../public/stylesheets/preview.css' />
    <script src="./../public/javascripts/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
  </head>
  <body>
   
    <% data.forEach(function(row, i) { %>
      
      <div class="page">
        <div class="hid">
          <div class="header"><%= row[0] %></div>
          <div class="body">
            <div class="side">
              <img id="side-image" src="./../public/images/side.png">
            </div>
            <div class="center">
              <div class="image">
                <img id="center-image" src="./../public/images/uploads/<%= files[i].filename %>">
              </div>
              <div class="chance-of-replacement">
                <img id="chance-image" src="./../public/images/chance.png">
              </div>
              <div class="table">
                <table>
                  <tr>
                    <th>Owner</th>
                    <td><%= row[4] %></td>
                  </tr>
                  <tr>
                    <th>Property Address</th>
                    <td><%= row[0] %>, <%= row[1] %>, <%= row[3] %>, <%= row[2] %></td>
                  </tr>
                  <tr>
                    <th>Mailing Address</th>
                    <td><%= row[5] %>, <%= row[6] %>, <%= row[8] %>, <%= row[7] %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }); %>

    <button id="download-as-pdf">Save to PDF</button>
    
    <script  src="./../public/javascripts/preview.js"></script>

  </body>
</html>
