<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='./../public/stylesheets/preview.css' />
    
  </head>
  <body>
   
    <button>Save to PDF</button>


    <% data.forEach(function(row) { %>
      
      <div class="page">
        <div class="hid">
          <div class="header"><%= row[0] %></div>
          <div class="body">
            <div class="side">
              <img id="side-image" src="./../public/images/side.png">
            </div>
            <div class="center">
              <div class="image">
                <!-- <img id="center-image" src="./../public/images/test-property-image.png"> -->
                <img id="center-image" src="">
              </div>
              <div class="chance-of-replacement">
                <img id="chance-image" src="./../public/images/chance.png">
              </div>
              <div class="table">
                <table>
                  <tr>
                    <th>Owner</th>
                    <td><%= row[4] %></td>
                  </tr>
                  <tr>
                    <th>Property Address</th>
                    <td><%= row[0] %>, <%= row[1] %>, <%= row[3] %>, <%= row[2] %></td>
                  </tr>
                  <tr>
                    <th>Mailing Address</th>
                    <td><%= row[5] %>, <%= row[6] %>, <%= row[8] %>, <%= row[7] %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }); %>

    <script src="./../public/javascripts/html2canvas.min.js"></script>
    <script  src="./../public/javascripts/preview.js"></script>

  </body>
</html>
